<div>
    <div class="row">
        <div class="col-md-12">
            <h1 translate="customer.title.list">List</h1>
		    <div class="grid" ui-grid="gridOptions" ui-grid-auto-resize></div>
        </div>
         <div class="bottom-buttons col-md-12">
            <button translate="global.buttons.refresh" type="button" class="btn btn-success" ng-click="refresh()">Refresh</button>
            <button translate="global.buttons.create" type="button" class="btn btn-success" ng-click="go('customer.create')">Create</button>
        </div>
    </div>
</div>
